{{define "base"}}
<html>
    <head>
        <title>GitforGits Bookstore</title>
    </head>
    <body>
        {{template "header" .}}
        {{template "mainContent" .}}
        {{template "footer" .}}
    </body>
</html>
{{end}}