{{define "footer"}}
<div class="footer">
    <ul>
        <li>About Us</li>
        <li>Contact</li>
        <li>Terms of Service</li>
    </ul>
    <div class="social-icons">
        <img src="facebook-icon.png">
        <img src="twitter-icon.png">
    </div>
    <p>&copy;2024 GitforGits Bookstore</p>
</div>
{{end}}