{{define "header"}}
<div class="header">
    <img src="logo.png" alt="GitforGits Logo">
    <ul class="navigation">
        <li><a href="/" alt="GitforGits Bookstore | Home">Home</a></li>
        <li>Bestsellers</li>
        <li>New Arrivals</li>
        <li><a href="/genres/">Genres</a></li>
    </ul>
    <div class="search">
        <input type="text" placeholder="Search for books...">
        <button>Search</button>
    </div>
</div>
{{end}}